[user]
	name = pabloqpacin
	email = 110383181+pabloqpacin@users.noreply.github.com
[includeIf "gitdir:~/repos/Setenova/"]
	path = ~/dotfiles/.gitconfig.d/setenova.gitconfig

[init]
	defaultBranch = main
[http]
	version = HTTP/2

[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[include]
    path = ~/dotfiles/.config/delta/themes.gitconfig
[delta]
    # features = calochortus-lyallii    # https://github.com/dandavison/delta/blob/main/themes.gitconfig
    # side-by-side = true
    line-numbers = true
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
# # Auto-added by 'gh auth login' cuando los rulesets...
# [credential "https://github.com"]
# 	helper = !/usr/bin/gh auth git-credential
# [credential "https://gist.github.com"]
# 	helper = !/usr/bin/gh auth git-credential
