[user]
	name = pabloqpacin
	email = 110383181+pabloqpacin@users.noreply.github.com
[http]
	version = HTTP/2
[init]
	defaultBranch = main
[core]
	editor = vim
[alias]
	god = log --graph --oneline --decorate
