[user]
	name = pabloqpacin
	email = 110383181+pabloqpacin@users.noreply.github.com
[init]
	defaultBranch = main
[http]
	version = HTTP/2
[alias]
    sup = log --graph --pretty=format:'%C(auto)%h%d (%cs) %s' --decorate
    lold = log --follow

[core]
    # editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    # side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
