# Cheat
community/
#*wip*

# Nvim Tmux Btop
packer_compiled.lua
*/tmux/plugins/*
btop.log

# Clutter
private/
# *.todo
*test*
*mock*
py/

# Hypr
*vanilla*

# Zsh repos
zsh/plugins/*

# Fortunes -- https://github.com/shlomif/fortune-mod/tree/master/fortune-mod/datfiles
docs/fortunes/*

# MISC
target_list.*
